// fonts
.fp {font-family: sans-serif;} // font primary
.fh {font-family: sans-serif;} // font header
.fi {font-family: sans-serif;} // font icon

// body
@bb: #fff; // body background

// colors
@cp: #000000; // color primary


// media query >>> @media @xs, @sm
@md: ~"(min-width: 992px) and (max-width: 1199px)";
@sm: ~"(min-width: 768px) and (max-width: 991px)";
@xs: ~"(max-width: 767px)";