html,body {
	height: 100%;
}
.clearfix{
	*zoom:1;
	&:before,&:after{
		display:table;
		content:"";
	}
	&:after{
		clear:both;
	}
}
a {
	position: absolute;
	z-index: 1;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	&:before{
		.transition(0.5s);
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		bottom: 0;
		right: 0;
		background: #193165 url('../images/ico.png') no-repeat center;
		-webkit-opacity: 0;
		-moz-opacity: 0;
		opacity: 0;
		filter:alpha(opacity=0);
	}
	&:focus {
		z-index: 99;
		&:before{
			-webkit-opacity: 1;
			-moz-opacity: 1;
			opacity: 1;
			filter:alpha(opacity=100);
		}
	}
}
.header{
	overflow: hidden;
	position: relative;
	z-index: 1;
	display: block;
	text-align: center;
	padding: 14.16% 0 0;
	border-bottom: 1px dashed #c1c1c1;
	@media @xs {
		padding-top: 33.3333%;
	}
	img {
		.transition(0.1s);
		position: absolute;
		left: 50%;
		bottom: 3px;
		margin: 0 0 0 -7%;
		max-height: 80%;
		width: auto!important;
		@media @xs {
			left: 50%!important;
			bottom: 3px!important;
			margin-left: -20%;
		}
		.content_off & {
			left: 50%!important;
			bottom: 3px!important;
		}
	}
}
.content {
	overflow: hidden;
	position: relative;
	z-index: 2;
	display: block;
	padding: 21.631% 0 0;
	background: url(../images/bg.jpg) no-repeat center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	.shape_left, .shape_right {
		.transition(0.05s);
		position: absolute;
		top: 0;
		bottom: 0;
		left: 50%;
		width: 4.555%;
		margin: 0 0 0 -4.555%;
		background: url(../images/02.png) no-repeat;
		background-size: 200% 100%;
		@media @xs {
			display: none;
		}
		&:before {
			content: '';
			position: absolute;
			right: 100%;
			top: 0;
			bottom: 0;
			width: 9999em;
			background: #fff;
		}
		.content_off & {
			.transition(0.5s);
			left: 0%!important;
		}
	}
	.shape_right {
		margin-left: 0;
		background-position: top right;
		&:before{
			right: auto;
			left: 100%;
		}
		.content_off & {
			left: 100%!important;
		}
	}
	.close {
		.transition(0.05s);
		.border-radius(50%);
		position: absolute;
		z-index: 999999;
		top: 17px;
		left: 50%;
		width: 26px;
		height: 26px;
		line-height: 26px;
		text-align: center;
		font-size: 23px;
		margin: 0 0 0 5%;
		color: #ccc;
		border: 1px solid #ccc;
		background: #fff;
		background-size: 100% 100%;
		cursor: pointer;
		&:hover{
			color: #555;
			border-color: #555;
		}
		@media @xs {
			display: none;
		}
		.content_off & {
			display: none;
		}
	}
	&:hover{
		.close {
			margin-left: -13px;
		}
	}
}
.footer {
	.clearfix;
	display: block;
	border-top: 1px dashed #c1c1c1;
	border-bottom: 1px dashed #c1c1c1;
	.left, .right {
		float: left;
		width: 50%;
		margin: 0 -2px;
		padding: 3% 5% 4%;
		@media @xs {
			width: 100%;
			border: none;
			text-align: center;
		}
		img {
			max-width: 40%;
			position: relative;
			@media @xs {
				max-width: 60%;
				left: 0!important;
				bottom: 0!important;
			}
		}
	}
	.left {
		text-align: right;
		border-right: 1px dashed #c1c1c1;
	}
}